# Terraform
terraform/.terraform/
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Next.js
frontend/node_modules/
frontend/.next/

# Logs
*.log

# OS
Thumbs.db
.DS_Store